In [19]:
import pandas as pd

In [20]:
url = "https://www.esri.cao.go.jp/jp/sna/data/data_list/minkan/files/tables/h7/0911stock.xls"
df_original = pd.read_excel(url, header=None, index_col=None)

In [21]:
df_original

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,民間企業資本ストック,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,第１表 産業別資本ストック（全産業）,NaN,NaN,進捗ベース,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,実質・実数,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,（単位：１００万円）,NaN,（平成２年暦年平均価格評価）,NaN
3,NaN,全産業,農林水産業,鉱業,建設業,製造業,卸小売業,金融保険業,不動産業,運輸通信業,電気・ガス・水道業,サービス業,法人企業,個人企業
4,30/ 1- 3,31139283,6274162,641163,388265,10891209,4286194,648047,167541,1870870,4447662,1524170,21281462,9857821
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181,4- 6,1077303015,104547139,2662248,38674335,375390833,109184555,27163939,38744079,114116248,107047253,159772386,917475579,159827436
182,7- 9,1085390381,105006889,2668844,38819099,377967258,109719857,27476402,38927607,114982817,107653936,162167672,925100662,160289719
183,10-12,1095136069,106226014,2668511,38902287,380553097,110564371,26979983,39052828,116004164,109181899,165002915,933702588,161433481
184,12/ 1- 3,1104632477,106148046,2679778,39044365,383368716,111273696,27031883,39480853,117442933,110183552,167978655,943394156,161238321
185,4- 6,1110687936,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
stat_name_jpn = df_original.iloc[0,0]

In [23]:
unit = df_original.iloc[2,[10, 12]]

In [24]:
# remove columns and rows with too many nulls
df_dropped = df_original.loc[df_original.notnull().sum(axis=1) > 2, df_original.notnull().sum() > 2]

In [35]:
df_dropped

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
2,実質・実数,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,（単位：１００万円）,NaN,（平成２年暦年平均価格評価）,NaN
3,NaN,全産業,農林水産業,鉱業,建設業,製造業,卸小売業,金融保険業,不動産業,運輸通信業,電気・ガス・水道業,サービス業,法人企業,個人企業
4,30/ 1- 3,31139283,6274162,641163,388265,10891209,4286194,648047,167541,1870870,4447662,1524170,21281462,9857821
5,4- 6,31511383,6390575,644194,390249,11011120,4303025,661016,174054,1887044,4513419,1536687,21521588,9989795
6,7- 9,31925680,6524443,650881,391669,11122047,4321968,684644,182888,1903349,4584255,1559536,21777611,10148069
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180,11/ 1- 3,1071112176,104159461,2667598,38680664,373433916,108535290,26861119,38612205,113727702,106345957,158088264,911550593,159561583
181,4- 6,1077303015,104547139,2662248,38674335,375390833,109184555,27163939,38744079,114116248,107047253,159772386,917475579,159827436
182,7- 9,1085390381,105006889,2668844,38819099,377967258,109719857,27476402,38927607,114982817,107653936,162167672,925100662,160289719
183,10-12,1095136069,106226014,2668511,38902287,380553097,110564371,26979983,39052828,116004164,109181899,165002915,933702588,161433481
184,12/ 1- 3,1104632477,106148046,2679778,39044365,383368716,111273696,27031883,39480853,117442933,110183552,167978655,943394156,161238321

In [25]:
# pick total capital and capital in the primary sector
df_picked = df_dropped.iloc[2:, [0, 1,2]]

In [26]:
# set column names
df_picked.columns = ['year_quarter', 'tot_cap', 'prm_cap']

In [27]:
# select first-quarter data
df_first_quarter = df_picked.iloc[::4]

In [28]:
# remove the last six letters of the year column to get year in Japanese calender
df_first_quarter['year_jpn'] = df_first_quarter['year_quarter'].astype(str).str[:-6]

/Users/satoshi/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [29]:
df_cleaned = df_first_quarter.drop(['year_quarter'], axis = 1)

In [30]:
df_cleaned['non_prm_cap'] = df_cleaned['tot_cap'] - df_cleaned['prm_cap']

In [31]:
# swap columns
columns_titles = ["year_jpn","tot_cap", "prm_cap","non_prm_cap"]
df_cleaned=df_cleaned.reindex(columns=columns_titles)

In [32]:
df_cleaned['year_jpn'] = df_cleaned['year_jpn'].astype(str)

In [33]:
df_cleaned.to_csv('../../Data/Downloaded/postwar_cap.csv', index = False)

In [34]:
df_cleaned

    year_jpn     tot_cap    prm_cap non_prm_cap
4         30    31139283    6274162    24865121
8         31    32748212    6837180    25911032
12        32    34991090    7303863    27687227
16        33    38063127    7913343    30149784
20        34    40887275    8490118    32397157
24        35    44504068    9048244    35455824
28        36    49944975    9620479    40324496
32        37    56467931   10264280    46203651
36        38    63511603   11015693    52495910
40        39    71018842   11895514    59123328
44        40    79539189   12853701    66685488
48        41    87154928   14025345    73129583
52        42    96411662   15384249    81027413
56        43   109082869   17296382    91786487
60        44   124474180   19529109   104945071
64        45   143502381   21985851   121516530
68        46   166118744   24941424   141177320
72        47   186608080   27746897   158861183
76        48   208658766   30993335   177665431
80        49   231344812   34337482   197007330
84        50   251786439   37545113   214241326
88        51   272577831   41078204   231499627
92        52   291376500   44732284   246644216
96        53   309127656   48201272   260926384
100       54   328287908   52062257   276225651
104       55   349501472   55468333   294033139
108       56   372439794   58741544   313698250
112       57   395665506   61610551   334054955
116       58   418242731   64508900   353733831
120       59   441371956   67112470   374259486
124       60   468035170   69949936   398085234
128       61   519437264   72919896   446517368
132       62   551833186   75574420   476258766
136       63   596088256   78535560   517552696
140        1   635414576   81441920   553972656
144        2   680491687   84149853   596341834
148        3   731197067   86742401   644454666
152        4   793735101   89539095   704196006
156        5   836743423   92290224   744453199
160        6   871544507   94661180   776883327
164        7   904341209   97044383   807296826
168        8   940832277   99398153   841434124
172        9   985648964  101675674   883973290
176       10  1033036656  103278755   929757901
180       11  1071112176  104159461   966952715
184       12  1104632477  106148046   998484431