In [1]:
import pandas as pd

In [2]:
url = "https://warp.da.ndl.go.jp/info:ndljp/pid/11423429/www.stat.go.jp/data/chouki/zuhyou/20-01-b.xls"
df_original = pd.read_excel(url, header = None, index_col = None)

In [3]:
df_original

,0,1,2,3,4,5,6,7,8,9,...,137,138,139,140,141,142,143,144,145,146
0,２０－１－ｂ １世帯当たり年平均１か月間の消費支出（全世帯）－ 全国，人口５万以上の市,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,（昭和３８年～平成１９年）,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20-1-b Annual Average of Monthly Consumption E...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"-All Japan, Cities with Population of 50,000 ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,"(1) Non-agricultural, forestry and fisheries h...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107,〔資料〕 総理府統計局「家計調査年報」（刊行物）,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108,総務省統計局統計調査部消費統計課「家計調査年報」,NaN,NaN,NaN,NaN,NaN,ホームページ,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
109,"Source: Statistics Bureau, Prime Minister's O...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110,"Statistical Survey Department, St...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
stat_name_jpn = df_original.loc[[0,1],0]

In [5]:
stat_name_eng = df_original.loc[[2,3],0]

In [6]:
stat_name_jpn, stat_name_eng

(0    ２０－１－ｂ　１世帯当たり年平均１か月間の消費支出（全世帯）－　全国，人口５万以上の市
 1                                  （昭和３８年～平成１９年）
 Name: 0, dtype: object,
 2    20-1-b Annual Average of Monthly Consumption E...
 3     -All Japan, Cities with Population of 50,000 ...
 Name: 0, dtype: object)

In [7]:
# remove columns and rows with too many nulls
df_dropped = df_original.loc[df_original.notnull().sum(axis=1) > 2, df_original.notnull().sum() > 2]

In [8]:
df_dropped

,0,1,2,3,4,5,6,7,8,9,...,137,138,139,140,141,142,143,144,145,146
7,区分，年次,NaN,世帯数分布\n(抽出率調整),集計世帯数,世帯人員,有業人員,世帯主の年齢,消費支出,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,エンゲル係数（％）
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,食料,NaN,...,住居,光熱・水道,家具・家事用品,被服及び履物,保健医療,交通･通信,教育,教養娯楽,その他の消費支出,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,穀類,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Item and year,NaN,Distribution of households,Num. of tabulated households,Num. of persons per household (persons),Num. of earners per household (persons),Age of household heads (years old),Consumption expenditures,Food,Cereals,...,Housing,"Fuel, light & water charges",Furniture & household utensils,Clothing & footwear,Medical care,Transportation & communication,Education,Culture & recreation,Other consumption expenditures,Engel's coefficient (%)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100,15,2003,7581,6818,3.16,1.37,53.5,309421,71879,7126,...,...,...,...,...,...,...,...,...,...,23.2
101,16,2004,7589,6815,3.15,1.35,53.8,308438,71818,7181,...,18,8,354,359,57,282,0,701,255,23.3
102,17,2005,7579,6828,3.11,1.34,54.5,303210,70626,6636,...,420,20,336,339,79,240,0,631,286,23.3
103,18,2006,7589,6800,3.08,1.33,55,298580,69891,6459,...,728,15,289,328,55,274,0,599,241,23.4
104,19,2007,7607,6784,3.06,1.31,55.5,299695,69826,6510,...,789,11,268,380,52,258,0,666,263,23.3

In [23]:
df_picked = df_dropped.iloc[5:, [0, 1, 4, 7, 8]]

In [24]:
columns = ['year_jpn', 'year_wst', 'hh_size', 'exp', 'food_exp']

In [25]:
df_picked.columns = columns

In [27]:
df_picked.to_csv('test1.csv')

In [10]:
columns = df_dropped.loc[11,:]

In [11]:
columns

0                                      Year
1                                       NaN
3                      Households tabulated
4                     Persons per household
5                     Earners per household
                      ...
58               Insurance premium payments
59                            Debt payments
60    Instalment & credit purchase payments
61                                    Other
62                      Expenditure in kind
Name: 11, Length: 62, dtype: object

In [29]:
columns[0, 1] = ['year_jpn', 'year_wst']

In [30]:
df_dropped.columns = columns

In [31]:
df_dropped = df_dropped.loc[13:]

In [32]:
df_dropped.loc[14, 'year_jpn']

'29\u3000'

In [33]:
df_dropped['year_jpn'] = df_dropped['year_jpn'].astype(str).map(lambda x: x.rstrip('\u3000'))

/Users/satoshi/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [34]:
df_dropped.loc[13,'year_jpn'] = 28

/Users/satoshi/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
/Users/satoshi/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:692: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)

In [35]:
df_dropped.loc[49,'year_jpn'] = 1

In [36]:
df_dropped

11,year_jpn,year_wst,Income,Wages & salaries,Expenditures,Consumption expenditures,Food
13,28,1953,26025,24237,24687,21727,9774
14,29,1954,28283,26305,26428,23067,10501
15,30,1955,29169,27080,26786,23513,10465
16,31,1956,30776,28567,27543,24231,10399
17,32,1957,32664,30418,28946,26092,10937
...,...,...,...,...,...,...,...
2695,15,2003,391555,352165,293954,248222,54667
2696,16,2004,374281,355897,281119,243298,56052
2697,17,2005,367625,345019,287936,251565,57142
2698,18,2006,348394,329051,267423,227582,51389
2699,19,2007,376571,333013,276567,237766,51969

In [37]:
# pick consumption expenditures and food expenditures for the national average
df_picked = df_dropped.iloc[:, [0,1,-2,-1]]

In [38]:
df_picked = df_picked.loc[:68]

In [39]:
df_picked['non_food'] = df_picked['Consumption expenditures'].astype(int) - df_picked['Food'].astype(int)

In [40]:
df_picked.to_csv('../../Data/Downloaded/post_hh_cns_nom.csv', index = False)