In [2]:
import pandas as pd

In [3]:
url = "https://warp.da.ndl.go.jp/info:ndljp/pid/11423429/www.stat.go.jp/data/chouki/zuhyou/03-03-a.xls"
df_original = pd.read_excel(url, header=None, index_col=None)

In [4]:
df_original

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,３－３－ａ 経済活動別国内総生産（産業大分類別）（名目，実質，デフレーター）,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,－平成２年基準（６８ＳＮＡ）（昭和３０年～平成１０年）,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3-3-a Gross Domestic Product Classified by Eco...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"(At Current Prices, At Constant Prices, Deflat...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148,"""Series at constant prices"" and ""Deflators"" f...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
149,-3-b.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
150,〔資料〕 内閣府経済社会総合研究所国民経済計算部「国民経済計算報告(長期遡及主要系,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
151,列 昭和30年～平成10年)」,NaN,NaN,ホームページ,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
152,Source: Economic and Social Research Institut...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df_original.to_csv('test.csv')

In [5]:
stat_name_jpn = df_original.iloc[0,0]

In [6]:
stat_name_eng = df_original.iloc[2,0]

In [7]:
unit_jpn = df_original.iloc[55,0]

In [8]:
unit_eng = df_original.iloc[55,1]

In [8]:
# This spreadsheet contains nominal GDP, real GDP, and deflator

In [9]:
df_original.iloc[10,0]

'名目'

In [10]:
df_original.iloc[55,0]

'実質\n(平成2年基準)'

In [11]:
df_original.iloc[100,0]

'デフレーター\n(平成2年基準)'

In [12]:
# remove columns and rows with too many nulls
df_dropped = df_original.loc[df_original.notnull().sum(axis=1) > 2, df_original.notnull().sum() > 2]

In [13]:
# keep first four columns
# Japanese year, western year, total GDP of the private sector, and the primary sector GDP

In [14]:
df_dropped

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
7,年次,NaN,産業,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,対家計民間非営利サービス生産者,NaN,小計,輸入税,(控除)\nその他,(控除)\n帰属利子,国内総生産(不突合を含まず),統計上の不突合,国内総生産(不突合を含む)
8,NaN,NaN,NaN,農林水産業,鉱業,製造業,建設業,電気・ガス・水道業,卸売・小売業,金融・保険業,...,公務,NaN,サービス業,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Year,NaN,Industries,"Agriculture, Forestry and Fishing",Mining,Manufacturing,Construction,"Electricity, gas and water supply",Wholesale and retail trade,Finance and insurance,...,Public administration,Producers of private non-profit services to ho...,Services,Sub-total,Import duties,(Less) \nOthers,(Less) \nImputed bank service charges,Gross domestic product (not including statisti...,Statistical discrepancy,Gross domestic product (including statistical ...
11,昭和30年,1955,7941.1,1665.5,164.7,2381,377.7,198.3,893.7,340,...,333.3,81.7,81.7,8665.3,28.3,0,322.3,8371.3,-1.8,8369.5
12,31,1956,8972.6,1599,201.8,2955.9,415.4,217,1028.5,373.7,...,356.4,90.9,90.9,9749,42.5,0,348.2,9443.3,-21,9422.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140,6,1994,104,100.8,118.4,97.7,110.6,108.2,99.6,98.5,...,112.3,107.2,107.2,104.6,72.2,90.1,95.3,104.9,-,-
141,7,1995,102.9,96.9,124.5,94.2,112.4,108.6,97.4,97.3,...,113.6,107.8,107.8,103.7,71.5,88.3,94.2,104,-,-
142,8,1996,101.6,94.6,120.5,91.2,112.9,102.2,96,98.9,...,114,108.8,108.8,102.6,81.3,89,93.9,102.9,-,-
143,9,1997,101.7,90.9,117,89.1,116.4,105.3,96.5,99.7,...,114.1,110.7,110.7,102.7,87.3,136.9,93.7,102.8,-,-
144,10,1998,102.1,93,111.8,89.9,117.3,102.8,95.1,97.6,...,115.8,110.5,110.5,103.2,87.3,153.1,93.7,103.3,-,-

In [15]:
df_dropped.iloc[3:,:]

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
11,昭和30年,1955,7941.1,1665.5,164.7,2381,377.7,198.3,893.7,340,...,333.3,81.7,81.7,8665.3,28.3,0,322.3,8371.3,-1.8,8369.5
12,31,1956,8972.6,1599,201.8,2955.9,415.4,217,1028.5,373.7,...,356.4,90.9,90.9,9749,42.5,0,348.2,9443.3,-21,9422.2
13,32,1957,10378.5,1757.7,239.8,3482.7,494.7,242.9,1208.6,439.7,...,387,99.4,99.4,11220.9,58.8,0,418.4,10861.3,-3,10858.3
14,33,1958,10954.2,1787.6,231.7,3503.6,590,292.5,1284.4,490.8,...,414,109.3,109.3,11864.1,52.5,0,465.6,11451,87.4,11538.3
15,34,1959,12508.6,1926.1,217.7,4271.4,649.3,339.9,1469.5,526.4,...,456.4,122.6,122.6,13510,76.4,0,498.3,13088.1,102.2,13190.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140,6,1994,104,100.8,118.4,97.7,110.6,108.2,99.6,98.5,...,112.3,107.2,107.2,104.6,72.2,90.1,95.3,104.9,-,-
141,7,1995,102.9,96.9,124.5,94.2,112.4,108.6,97.4,97.3,...,113.6,107.8,107.8,103.7,71.5,88.3,94.2,104,-,-
142,8,1996,101.6,94.6,120.5,91.2,112.9,102.2,96,98.9,...,114,108.8,108.8,102.6,81.3,89,93.9,102.9,-,-
143,9,1997,101.7,90.9,117,89.1,116.4,105.3,96.5,99.7,...,114.1,110.7,110.7,102.7,87.3,136.9,93.7,102.8,-,-
144,10,1998,102.1,93,111.8,89.9,117.3,102.8,95.1,97.6,...,115.8,110.5,110.5,103.2,87.3,153.1,93.7,103.3,-,-

In [16]:
df_dropped.iloc[:,:4]

          0     1           2                                  3
7        年次   NaN          産業                                NaN
8       NaN   NaN         NaN                              農林水産業
9      Year   NaN  Industries  Agriculture, Forestry and Fishing
11   昭和30年　  1955      7941.1                             1665.5
12     31　　  1956      8972.6                               1599
..      ...   ...         ...                                ...
140     6　　  1994         104                              100.8
141     7　　  1995       102.9                               96.9
142     8　　  1996       101.6                               94.6
143     9　　  1997       101.7                               90.9
144   　10　　  1998       102.1                                 93

[135 rows x 4 columns]

In [17]:
df_picked = df_dropped.iloc[3:, :4]

In [18]:
df_picked

          0     1        2       3
11   昭和30年　  1955   7941.1  1665.5
12     31　　  1956   8972.6    1599
13     32　　  1957  10378.5  1757.7
14     33　　  1958  10954.2  1787.6
15     34　　  1959  12508.6  1926.1
..      ...   ...      ...     ...
140     6　　  1994      104   100.8
141     7　　  1995    102.9    96.9
142     8　　  1996    101.6    94.6
143     9　　  1997    101.7    90.9
144   　10　　  1998    102.1      93

[132 rows x 4 columns]

In [19]:
df_picked.columns = ['year_jpn', 'year_wst', 'tot_prv_GDP', 'prm_GDP']

In [20]:
df_real = df_picked.loc[55:100,:]

In [21]:
df_real.loc[56, 'year_jpn']  = 30

/Users/satoshi/miniconda3/envs/jpandas/lib/python3.9/site-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
/Users/satoshi/miniconda3/envs/jpandas/lib/python3.9/site-packages/pandas/core/indexing.py:723: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)

In [22]:
df_real.loc[90, 'year_jpn'] = 1

In [23]:
df_real['year_jpn'] = df_real['year_jpn'].astype(str).map(lambda x: x.replace(' ',''))

/Users/satoshi/miniconda3/envs/jpandas/lib/python3.9/site-packages/pandas/core/frame.py:3607: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_item(key, value)

In [24]:
df_real.year_jpn

56       30
57     31
58     32
59     33
60     34
61     35
62     36
63     37
64     38
65     39
66     40
67     41
68     42
69     43
70     44
71     45
72     46
73     47
74     48
75     49
76     50
77     51
78     52
79     53
80     54
81     55
82     56
83     57
84     58
85     59
86     60
87     61
88     62
89     63
90        1
91      2
92      3
93       4
94      5
95      6
96      7
97      8
98      9
99    　10
Name: year_jpn, dtype: object

In [25]:
df_real['year_jpn'] = df_real['year_jpn'].astype(str).map(lambda x: x.rstrip('\u3000\u3000'))

In [26]:
df_real['year_jpn'] = df_real['year_jpn'].astype(str).map(lambda x: x.rstrip('  '))

In [27]:
df_real['non_prm_GDP'] = df_real['tot_prv_GDP'] - df_real['prm_GDP']

In [29]:
#df_real.to_csv('../../Data/Downloaded/post_GDP.csv', index = False)

In [30]:
df_def = df_picked.loc[100:,]

In [31]:
df_def.loc[101, 'year_jpn']  = 30

In [32]:
df_def.loc[135, 'year_jpn'] = 1

In [33]:
df_def['year_jpn'] = df_def['year_jpn'].astype(str).map(lambda x: x.rstrip('\u3000\u3000'))

In [34]:
df_def['year_jpn'] = df_def['year_jpn'].astype(str).map(lambda x: x.rstrip('  '))

In [35]:
#df_def.to_csv('../../Data/Downloaded/post_GDP_def.csv', index = False)

In [36]:
df_def

    year_jpn year_wst tot_prv_GDP prm_GDP
101       30     1955        19.2    18.8
102       31     1956        20.2    18.5
103       32     1957        21.4    19.7
104       33     1958        21.1    19.3
105       34     1959        22.2    19.3
106       35     1960        23.9    20.5
107       36     1961        26.2    22.5
108       37     1962        27.6    24.2
109       38     1963        29.4    26.9
110       39     1964        31.1    27.7
111       40     1965        32.8      31
112       41     1966        34.4    33.4
113       42     1967        36.5    38.3
114       43     1968        38.5    41.5
115       44     1969          40    43.3
116       45     1970        42.6    48.3
117       46     1971        44.2    48.6
118       47     1972        46.3    50.4
119       48     1973        52.4    62.3
120       49     1974        62.7    71.8
121       50     1975        66.5    77.9
122       51     1976        72.1    89.9
123       52     1977        76.9    97.3
124       53     1978        81.3    97.6
125       54     1979        82.6    98.1
126       55     1980        85.4    94.3
127       56     1981        88.1    95.7
128       57     1982        90.2    92.8
129       58     1983        91.6      94
130       59     1984        93.3    94.7
131       60     1985        94.5    97.4
132       61     1986        96.3    96.3
133       62     1987        96.2    91.8
134       63     1988        96.7      95
135        1     1989        98.4      96
136        2     1990         100     100
137        3     1991       102.2   107.8
138        4     1992       103.6    99.5
139        5     1993       104.3   104.2
140        6     1994         104   100.8
141        7     1995       102.9    96.9
142        8     1996       101.6    94.6
143        9     1997       101.7    90.9
144      　10     1998       102.1      93