In [1]:
import pandas as pd

In [2]:
url = "https://warp.da.ndl.go.jp/info:ndljp/pid/11423429/www.stat.go.jp/data/chouki/zuhyou/02-01.xls"
df_original = pd.read_excel(url, header=None, index_col=None)

In [3]:
df_original

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,２－１ 男女別人口・人口増減及び人口密度（明治５年～平成２１年）,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"2-1 Population by Sex, Population Increase and...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"(単位 1,000人)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,(In thousands of persons),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,〔資料〕 総務省統計局統計調査部国勢統計課「国勢調査報告」,NaN,NaN,NaN,NaN,NaN,ホームページ,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262,総務省統計局統計調査部国勢統計課「人口推計資料」,NaN,NaN,NaN,NaN,NaN,ホームページ,NaN,NaN,NaN,NaN,NaN,NaN,NaN
263,内閣統計局「明治五年以降我国の人口」,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
264,"Source: Statistical Survey Department, Stati...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
265,Communications.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
stat_name_jpn = df_original.iloc[0,0]

In [5]:
stat_name_eng = df_original.iloc[1,0]

In [6]:
unit_jpn = df_original.iloc[3,0]

In [7]:
unit_eng = df_original.iloc[4,0]

In [8]:
# Remove columns and rows with too many nulls
df_dropped = df_original.loc[df_original.notnull().sum(axis=1) > 2, df_original.notnull().sum() > 2]

In [9]:
df_dropped

,0,1,2,3,4,5,6,7,8,9,10,11
5,年次,NaN,人口,NaN,NaN,人口増減数,NaN,NaN,NaN,NaN,"人口増減率(人口1,000人につき)",人口密度\n(1平方キロメートルにつき)
7,NaN,NaN,総数,男,女,計,自然増減,NaN,NaN,社会増減,NaN,NaN
9,Year,NaN,Total,Male,Female,Total \n 3),Natural \nincrease and decrease\n 4),Live births,Number of Deaths,Social \nincrease and decrease \n 5),Rate of population increase and decrease \n(pe...,Population density\n(per sq. km) 7)
10,明治 5年,1872,34806,17666,17140,179,182,593,412,...,0.51,91.2
11,6,1873,34985,17755,17230,169,174,842,667,...,0.48,91.6
...,...,...,...,...,...,...,...,...,...,...,...,...
145,17,2005,127768,62349,65419,-19,9,1087,1078,-53,-0.1,342.7
146,18,2006,127770,62330,65440,2,0,1090,1090,1,0,342.6
147,19,2007,127771,62310,65461,1,-2,1101,1103,4,0,342.6
148,20,2008,127692,62251,65441,-79,-34,1108,1142,-45,-0.6,342.423708
149,21,2009,127510,62130,65380,-183,-59,1087,1146,-124,-1.4,341.931062

In [10]:
df_picked = df_dropped.loc[10:,[1,2]]

In [11]:
df_picked.columns = ['year_wst', 'tot_pop']

In [12]:
# convert units from 1000 people to people 
convert_units = 1000
df_picked['tot_pop'] = df_picked['tot_pop'] * convert_units

In [13]:
df_picked.loc[109]

year_wst         1970
tot_pop     103720000
Name: 109, dtype: object

In [14]:
df_picked_2 = df_picked.drop([110])

In [15]:
df_picked_2.loc[109]

year_wst         1970
tot_pop     103720000
Name: 109, dtype: object

In [16]:
df_picked_2.year_wst = df_picked_2.year_wst.astype(int)

In [17]:
df_picked_2.to_csv('../../Data/Downloaded/post_pop.csv', index = False)