In [1]:
# get agricultural and non-agricultaral employment

In [2]:
import pandas as pd

In [4]:
url = 'http://d-infra.ier.hit-u.ac.jp/Japanese/ltes/LTES_02.xlsx'
xl = pd.ExcelFile(url)

In [5]:
df_original_1 = xl.parse('第8表', header=None, index_col=None)

In [9]:
df_original_2 = xl.parse('第9表', header=None, index_col=None)

In [10]:
stat_name_1_jpn = df_original_1.iloc[0, 2]

In [11]:
stat_name_1_eng = df_original_1.iloc[1,2]

In [12]:
stat_name_2_jpn = df_original_2.iloc[0, 2]

In [13]:
stat_name_2_eng = df_original_2.iloc[1,2]

In [14]:
stat_name_1_jpn, stat_name_1_eng, stat_name_2_jpn, stat_name_2_eng

(nan,
 '第8表\u3000男女・産業別内地人有業者数（年央現在） 1906～1920年',
 nan,
 '第9表\u3000男女・産業別全有業者数（10月1日現在） 1920～1940年')

In [15]:
unit_name_jpn = df_original_1.iloc[12,2]
unit_name_eng = df_original_1.iloc[13,2]

In [16]:
# Remove columns and rows with too many nulls
df_dropped_1 = df_original_1.loc[df_original_1.notnull().sum(axis=1) > 2, df_original_1.notnull().sum() > 2]

In [17]:
# Remove columns and rows with too many nulls
df_dropped_2 = df_original_2.loc[df_original_2.notnull().sum(axis=1) > 2, df_original_2.notnull().sum() > 2]

In [21]:
df_dropped_1

,1,2,3,4,5,6,7,8,9,10,...,93,94,95,96,97,98,99,100,101,102
5,NaN,32580,32581,32582,32583,32584,32585,32586,32587,32588,...,32663,32664,32665,32666,32667,32668,32669,32670,32671,32672
6,NaN,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
7,NaN,男女・産業別内地人有業者数 (年央現在）：男子：全産業,男女・産業別内地人有業者数 (年央現在）：男子：第１次産業,男女・産業別内地人有業者数 (年央現在）：男子：第１次産業：農林業,男女・産業別内地人有業者数 (年央現在）：男子：第１次産業：漁業・製塩業,男女・産業別内地人有業者数 (年央現在）：男子：第２次産業,男女・産業別内地人有業者数 (年央現在）：男子：第２次産業：鉱業,男女・産業別内地人有業者数 (年央現在）：男子：第２次産業：鉱業：採鉱業,男女・産業別内地人有業者数 (年央現在）：男子：第２次産業：鉱業：土石採取業,男女・産業別内地人有業者数 (年央現在）：男子：第２次産業：土木建築業,...,男女・産業別内地人有業者数 (年央現在）：男女計：第２次産業：工業：其他の工業,男女・産業別内地人有業者数 (年央現在）：男女計：第２次産業：ガス・電気・水道業,男女・産業別内地人有業者数 (年央現在）：男女計：第３次産業,男女・産業別内地人有業者数 (年央現在）：男女計：第３次産業：商業,男女・産業別内地人有業者数 (年央現在）：男女計：第３次産業：交通業,男女・産業別内地人有業者数 (年央現在）：男女計：第３次産業：陸海軍,男女・産業別内地人有業者数 (年央現在）：男女計：第３次産業：教育,男女・産業別内地人有業者数 (年央現在）：男女計：第３次産業：其他の公務及び自由業,男女・産業別内地人有業者数 (年央現在）：男女計：第３次産業：家事使用者,男女・産業別内地人有業者数 (年央現在）：男女計：第３次産業：其他の産業
8,NaN,Number of Gainful Workers by Sex and Industry ...,Number of Gainful Workers by Sex and Industry ...,Number of Gainful Workers by Sex and Industry ...,Number of Gainful Workers by Sex and Industry ...,Number of Gainful Workers by Sex and Industry ...,Number of Gainful Workers by Sex and Industry ...,Number of Gainful Workers by Sex and Industry ...,Number of Gainful Workers by Sex and Industry ...,Number of Gainful Workers by Sex and Industry ...,...,Number of Gainful Workers by Sex and Industry ...,Number of Gainful Workers by Sex and Industry ...,Number of Gainful Workers by Sex and Industry ...,Number of Gainful Workers by Sex and Industry ...,Number of Gainful Workers by Sex and Industry ...,Number of Gainful Workers by Sex and Industry ...,Number of Gainful Workers by Sex and Industry ...,Number of Gainful Workers by Sex and Industry ...,Number of Gainful Workers by Sex and Industry ...,Number of Gainful Workers by Sex and Industry ...
9,NaN,J0208__101,J0208__102,J0208__103,J0208__104,J0208__105,J0208__106,J0208__107,J0208__108,J0208__109,...,J0208__322,J0208__323,J0208__324,J0208__325,J0208__326,J0208__327,J0208__328,J0208__329,J0208__330,J0208__331
11,NaN,1906,1906,1906,1906,1906,1906,1906,1906,1906,...,1906,1906,1906,1906,1906,1906,1906,1906,1906,1906
12,NaN,1920,1920,1920,1920,1920,1920,1920,1920,1920,...,1920,1920,1920,1920,1920,1920,1920,1920,1920,1920
13,年,人,人,人,人,人,人,人,人,人,...,人,人,人,人,人,人,人,人,人,人
14,Year,person,person,person,person,person,person,person,person,person,...,person,person,person,person,person,person,person,person,person,person
15,1906,15008300,8816800,8255900,560900,2724300,185200,160700,24500,600900,...,29400,36600,5486400,2701100,669200,246900,210700,700600,808800,149100
16,1907,15108900,8846300,8243300,603000,2733700,179700,157000,22700,592600,...,28800,36400,5557400,2761000,758600,149400,215200,699600,823000,150600
17,1908,15174400,8772100,8225500,546600,2859100,173500,151900,21600,665600,...,28900,38000,5582500,2780300,739900,154700,227200,700000,826600,153800
18,1909,15252900,8711100,8159100,552000,2928200,199200,175700,23500,660200,...,29200,39600,5610600,2844000,715300,141200,229600,729600,799100,151800
19,1910,15361200,8784200,8227900,556300,2904000,185100,160700,24400,668000,...,29800,40700,5697100,2909900,728500,133300,271400,716100,784900,153000
20,1911,15507200,8868300,8302200,566100,2958500,184400,159000,25400,688700,...,30100,42700,5704800,2909100,705400,126200,283000,723600,801500,156000
21,1912,15682300,8923400,8362000,561400,3049700,206500,179200,27300,721300,...,30100,42500,5759200,2958100,732200,124900,263500,740700,778900,157900
22,1913,15845000,8998000,8442000,556000,3126400,200000,173500,26500,740800,...,31700,46400,5768500,2964000,682600,110200,282900,745600,817700,165400
23,1914,16026000,9081100,8505800,575300,3158500,280600,253200,27400,722400,...,31600,47100,5915900,3031400,723900,109200,265600,735700,873400,176700
24,1915,16200200,8723300,8191300,532000,3476100,257700,228600,29100,768900,...,36400,55900,6165800,3224800,767500,113100,273800,761700,847900,177000
25,1916,16398900,8748100,8161800,586300,3562800,244800,214100,30700,779500,...,39800,63100,6271100,3258800,851200,107900,257100,762900,852600,180600
26,1917,16562700,8770200,8213700,556500,3706500,270700,237600,33100,767900,...,43800,69900,6200700,3222700,805600,135300,258900,775400,822200,180600
27,1918,16717800,8298100,7764500,533600,4065800,370800,333800,37000,774800,...,51800,86400,6539700,3197900,942000,252000,290200,767200,894700,195700
28,1919,16744900,8364900,7878700,486200,3979800,334400,299200,35200,761500,...,53200,88400,6549100,3214600,962400,251200,290200,754600,879700,196400
29,1920,16935900,8299900,7782900,517000,4123400,319800,294000,25800,773900,...,52200,90200,6623800,3379400,1062500,249700,296100,802200,655100,178800

In [32]:
columns_1 = df_dropped_1.iloc[4,:]
columns_1[1] = 'year_wst'

In [35]:
columns_1

1        year_wst
2      J0208__101
3      J0208__102
4      J0208__103
5      J0208__104
          ...
98     J0208__327
99     J0208__328
100    J0208__329
101    J0208__330
102    J0208__331
Name: 9, Length: 96, dtype: object

In [34]:
df_dropped_1.columns = columns_1

In [16]:
columns_2 = df_dropped_2.iloc[4,:]
columns_2[0] = 'year_wst'

In [17]:
df_dropped_2.columns = columns_2

In [18]:
df_picked_1 = df_dropped_1[['year_wst', 'J0208__302', 'J0208__305', 'J0208__324', 'J0208__327']]

In [19]:
df_picked_2 = df_dropped_2[['year_wst', 'J0209__302', 'J0209__305', 'J0209__322', 'J0209__331']]

In [20]:
df_picked_1 = df_picked_1.iloc[9:,]

In [21]:
df_picked_2 = df_picked_2.iloc[10:,]

In [22]:
columns = ['year_wst', 'prm_emp', 'scn_emp', 'trt_emp', 'mil']

In [23]:
df_picked_1.columns = columns

In [24]:
df_picked_2.columns = columns

In [25]:
df_concat = pd.concat([df_picked_1, df_picked_2])

In [26]:
df_concat['non_prm_emp'] = df_concat['scn_emp'] + df_concat['trt_emp'] - df_concat['mil']

In [27]:
df_concat

   year_wst   prm_emp  scn_emp   trt_emp     mil non_prm_emp
14     1906  15394100  4047900   5486400  246900     9287400
15     1907  15447500  4067600   5557400  149400     9475600
16     1908  15381000  4193300   5582500  154700     9621100
17     1909  15287700  4299200   5610600  141200     9768600
18     1910  15307700  4262000   5697100  133300     9825800
19     1911  15385700  4303300   5704800  126200     9881900
20     1912  15451700  4362400   5759200  124900     9996700
21     1913  15486500  4496300   5768500  110200    10154600
22     1914  15588600  4438100   5915900  109200    10244800
23     1915  15111900  4845500   6165800  113100    10898200
24     1916  15123500  4992300   6271100  107900    11155500
25     1917  15173900  5219700   6200700  135300    11285100
26     1918  14608800  5608300   6539700  252000    11896000
27     1919  14644400  5586100   6549100  251200    11884000
28     1920  14724100  5858400   6623800  249700    12232500
15     1921  14761600  5670100   6965300  146300    12489100
16     1922  14708400  5893400   7014300  147900    12759800
17     1923  14068700  6360600   7401200  128600    13633200
18     1924  14485200  5974800   7615900  229400    13361300
19     1925  14381200  6104700   7815200  215400    13704500
20     1926  14410200  6211100   7943200  183200    13971100
21     1927  14595500  6124400   8100300  285500    13939200
22     1928  14694000  6115600   8252200  248300    14119500
23     1929  14724000  6139700   8448400  264900    14323200
24     1930  14721900  6166300   8745400  278000    14633700
25     1931  14859500  6086800   9005600  324200    14768200
26     1932  14002500  5947400   9264700  315700    14896400
27     1933  14032600  6129900   9508200  376100    15262000
28     1934  14971100  6377700   9735500  427100    15686100
29     1935  14998600  6694300   9952000  446400    16199900
30     1936  15116200  6913300  10029500  478500    16464300
31     1937  14779400  7437200   9939500  510900    16865800
32     1938  14598800  7782300   9908600  537200    17153700
33     1939  14502800  8196000   9953500  569800    17579700
34     1940  14401400  8603600   9990700  601600    17992700

In [28]:
df_concat.to_csv('../../Data/Downloaded/pre_emp.csv', index = False)