In [1]:
# generate value added df

In [2]:
import pandas as pd

In [3]:
url = 'http://d-infra.ier.hit-u.ac.jp/Japanese/ltes/LTES_01.xlsx'

In [4]:
xl = pd.ExcelFile(url)

In [45]:
df_original = xl.parse('第25表', header=None, index_col=None)

In [46]:
df_original

,0,1,2,3,4,5,6,7,8
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,第25表 産業別粗国内生産（市場価格表示，1934～1936年価格，1885～1940年）,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,Table 25 Gross Domestic Product by Industry at...,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
70,NaN,1940,3419,8773,1408,2993,7824,24417,24712
71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74,NaN,NaN,注 本表は第24表産業別実質純生産に産業別減価償却を加えたものである．欄（7）は欄（6）に住...,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
stat_name_jpn = df_original.iloc[0, 2]

In [48]:
stat_name_eng = df_original.iloc[1,2]

In [49]:
unit_jpn = df_original.iloc[12,2]

In [50]:
unit_eng = df_original.iloc[13,2]

In [51]:
# Remove columns and rows with too many nulls
df_dropped = df_original.loc[df_original.notnull().sum(axis=1) > 2, df_original.notnull().sum() > 2]

In [54]:
columns = df_dropped.iloc[4,:]
columns[1] = 'year_wst'

In [55]:
df_dropped.columns = columns

In [57]:
df_dropped

9,year_wst,J0125__001,J0125__002,J0125__003,J0125__004,J0125__005,J0125__006,J0125__007
5,NaN,31761,31762,31763,31764,31765,31766,31767
6,NaN,1,1,1,1,1,1,1
7,NaN,産業別粗国内生産：農林水産業,産業別粗国内生産：鉱工業,産業別粗国内生産：建設業,産業別粗国内生産：運輸通信公益事業,産業別粗国内生産：商業，サ−ビス業Ａ,産業別粗国内生産：粗国内生産,産業別粗国内生産：粗国内生産
8,NaN,Gross Domestic Product by Industry at Market P...,Gross Domestic Product by Industry at Market P...,Gross Domestic Product by Industry at Market P...,Gross Domestic Product by Industry at Market P...,Gross Domestic Product by Industry at Market P...,Gross Domestic Product by Industry at Market P...,Gross Domestic Product by Industry at Market P...
9,year_wst,J0125__001,J0125__002,J0125__003,J0125__004,J0125__005,J0125__006,J0125__007
...,...,...,...,...,...,...,...,...
66,1936,3281,5301,1427,2419,5856,18284,18562
67,1937,3361,5407,1502,2473,6437,19180,19463
68,1938,3267,6811,1424,2595,6362,20459,20745
69,1939,3519,8057,1515,2805,7821,23717,24007
70,1940,3419,8773,1408,2993,7824,24417,24712

In [71]:
df_dropped.year_wst.loc[15]

1885

In [73]:
df_dropped.loc[:,['year_wst', 'J0125__001', 'J0125__006']]

9,year_wst,J0125__001,J0125__006
5,NaN,31761,31766
6,NaN,1,1
7,NaN,産業別粗国内生産：農林水産業,産業別粗国内生産：粗国内生産
8,NaN,Gross Domestic Product by Industry at Market P...,Gross Domestic Product by Industry at Market P...
9,year_wst,J0125__001,J0125__006
...,...,...,...
66,1936,3281,18284
67,1937,3361,19180
68,1938,3267,20459
69,1939,3519,23717
70,1940,3419,24417

In [74]:
df_picked = df_dropped[['year_wst', 'J0125__001', 'J0125__006']]

In [75]:
df_picked = df_picked.iloc[10: ]

In [76]:
df_picked

9  year_wst J0125__001 J0125__006
15     1885       1590       3771
16     1886       1747       4032
17     1887       1810       4222
18     1888       1754       4027
19     1889       1606       4247
20     1890       1848       4634
21     1891       1808       4415
22     1892       1864       4710
23     1893       1814       4730
24     1894       1960       5301
25     1895       1987       5378
26     1896       1808       5078
27     1897       1731       5179
28     1898       2175       6182
29     1899       1976       5721
30     1900       2071       5967
31     1901       2173       6177
32     1902       1888       5851
33     1903       2300       6269
34     1904       2371       6321
35     1905       1963       6214
36     1906       2241       7043
37     1907       2380       7268
38     1908       2406       7317
39     1909       2410       7303
40     1910       2294       7427
41     1911       2444       7834
42     1912       2439       8126
43     1913       2476       8243
44     1914       2713       7991
45     1915       2691       8754
46     1916       2944      10125
47     1917       2867      10484
48     1918       2775      10588
49     1919       3003      11679
50     1920       2984      10936
51     1921       2693      12178
52     1922       2758      12120
53     1923       2682      12122
54     1924       2771      12532
55     1925       3018      12986
56     1926       2794      13108
57     1927       2993      13308
58     1928       2937      14343
59     1929       2982      14852
60     1930       3130      13764
61     1931       2762      13878
62     1932       3082      15038
63     1933       3397      16449
64     1934       2892      16571
65     1935       3052      17032
66     1936       3281      18284
67     1937       3361      19180
68     1938       3267      20459
69     1939       3519      23717
70     1940       3419      24417

In [60]:
df_picked.columns = ['year_wst', 'prm_GDP', 'tot_GDP']

In [61]:
df_picked['non_prm_GDP'] = df_picked['tot_GDP'] - df_picked['prm_GDP']

In [62]:
df_picked

   year_wst prm_GDP tot_GDP non_prm_GDP
15     1885    1590    3771        2181
16     1886    1747    4032        2285
17     1887    1810    4222        2412
18     1888    1754    4027        2273
19     1889    1606    4247        2641
20     1890    1848    4634        2786
21     1891    1808    4415        2607
22     1892    1864    4710        2846
23     1893    1814    4730        2916
24     1894    1960    5301        3341
25     1895    1987    5378        3391
26     1896    1808    5078        3270
27     1897    1731    5179        3448
28     1898    2175    6182        4007
29     1899    1976    5721        3745
30     1900    2071    5967        3896
31     1901    2173    6177        4004
32     1902    1888    5851        3963
33     1903    2300    6269        3969
34     1904    2371    6321        3950
35     1905    1963    6214        4251
36     1906    2241    7043        4802
37     1907    2380    7268        4888
38     1908    2406    7317        4911
39     1909    2410    7303        4893
40     1910    2294    7427        5133
41     1911    2444    7834        5390
42     1912    2439    8126        5687
43     1913    2476    8243        5767
44     1914    2713    7991        5278
45     1915    2691    8754        6063
46     1916    2944   10125        7181
47     1917    2867   10484        7617
48     1918    2775   10588        7813
49     1919    3003   11679        8676
50     1920    2984   10936        7952
51     1921    2693   12178        9485
52     1922    2758   12120        9362
53     1923    2682   12122        9440
54     1924    2771   12532        9761
55     1925    3018   12986        9968
56     1926    2794   13108       10314
57     1927    2993   13308       10315
58     1928    2937   14343       11406
59     1929    2982   14852       11870
60     1930    3130   13764       10634
61     1931    2762   13878       11116
62     1932    3082   15038       11956
63     1933    3397   16449       13052
64     1934    2892   16571       13679
65     1935    3052   17032       13980
66     1936    3281   18284       15003
67     1937    3361   19180       15819
68     1938    3267   20459       17192
69     1939    3519   23717       20198
70     1940    3419   24417       20998

In [19]:
df_picked.to_csv('../../Data/Downloaded/pre_GDP.csv', index = False)