In [1]:
import pandas as pd

In [2]:
url = "https://warp.da.ndl.go.jp/info:ndljp/pid/11423429/www.stat.go.jp/data/chouki/zuhyou/01-10.xls"

In [3]:
df_original = pd.read_excel(url, header = None, index_col = None)

In [4]:
df_original

,0,1,2,3,4,5,6
0,１－１０ 市部・郡部別面積（大正９年～平成２２年）,NaN,NaN,NaN,NaN,NaN,NaN
1,1-10 Area by All Shi and All Gun (1920--2010),NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,(単位 平方キロメートル),NaN,NaN,NaN,NaN,NaN,NaN
4,(In square kilometers),NaN,NaN,NaN,NaN,NaN,NaN
5,年次,NaN,全国,市部,NaN,郡部,NaN
6,NaN,NaN,NaN,NaN,# 人口集中地区面積,NaN,# 人口集中地区面積
7,Year,NaN,Japan,All shi,Population of Densely inhabited districts,All gun,Population of Densely inhabited districts
8,大正 9年,1920.0,381808.04,1375.36,-,380432.69,-
9,14,1925.0,381810.06,2181.5,-,379628.57,-
10,昭和 5年,1930.0,382264.91,2950.65,-,379314.26,-
11,10,1935.0,382545.42,5094.53,-,377450.89,-
12,15,1940.0,382545.42,8852.01,-,373693.41,-
13,20,1945.0,377298.15,14547.89,-,362750.26,-
14,22,1947.0,377298.15,16110.4,-,361187.75,-
15,25,1950.0,377099.08,20031.26,-,356925.64,-
16,30,1955.0,377151.09,67979.67,-,307870.86,-
17,35,1960.0,377151.09,82903.75,3555.7,292801,309.5
18,40,1965.0,377267.18,88573.34,4228.3,287269.04,376.6
19,45,1970.0,377308.69,95382.77,5896.5,280693.52,547.6
20,50,1975.0,377534.99,102409.77,7737.4,273963.17,538
21,55,1980.0,377708.09,102650.59,9276.5,273897.28,738.2
22,60,1985.0,377801.14,103052.06,9796.1,273626.33,774.6
23,平成 2年,1990.0,377737.11,103881.69,10800.6,272522.04,931.6
24,7,1995.0,377829.41,105092.02,11339.9,271458.48,920.6
25,12,2000.0,377873.06,105999.49,11573.12,270781.66,884.25
26,17,2005.0,377914.78,181792.37,11882.96,195025.66,677.63
27,22,2010.0,377950.1,216209.27,12218.62,161654.94,525.78
28,"(1) 大正9年～昭和15年の場合,旧東京府小笠原島の南鳥島及び沖縄県島尻郡の鳥島の面積は全国",NaN,NaN,NaN,NaN,NaN,NaN
29,には含まれるが，市部又は郡部には含まれない。,NaN,NaN,NaN,NaN,NaN,NaN
30,(2) 昭和25年～平成22年の所属未定の湖沼等の面積は全国には含まれるが，市部又は郡部には含,NaN,NaN,NaN,NaN,NaN,NaN
31,まれない。,NaN,NaN,NaN,NaN,NaN,NaN
32,(3) 昭和30年～平成22年の境界未定地域の面積は総務省統計局で推定して市部又は郡部に加えた。,NaN,NaN,NaN,NaN,NaN,NaN
33,a) 沖縄県は人口集中地区未設定のため含まない。,NaN,NaN,NaN,NaN,NaN,NaN
34,"(1) From 1920 through 1940, area of Minamitori...",NaN,NaN,NaN,NaN,NaN,NaN
35,"Tori-shima in Shimajiri-gun, Okinawa-ken, ...",NaN,NaN,NaN,NaN,NaN,NaN
36,rural (all gun).,NaN,NaN,NaN,NaN,NaN,NaN
37,"(2) From 1950 through 2010, areas of lakes and...",NaN,NaN,NaN,NaN,NaN,NaN
38,"Japan, but not included in urban (all shi)...",NaN,NaN,NaN,NaN,NaN,NaN
39,"(3) From 1955 through 2010, area whose boundar...",NaN,NaN,NaN,NaN,NaN,NaN
40,Ministry of Internal Affairs and Communica...,NaN,NaN,NaN,NaN,NaN,NaN
41,a) Excluding Okinawa-ken because DIDs were no...,NaN,NaN,NaN,NaN,NaN,NaN
42,〔資料〕 総務省統計局統計調査部国勢統計課「国勢調査報告」,NaN,NaN,NaN,NaN,ホームページ,NaN
43,"Source: Statistical Survey Department, Stati...",NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
stat_name_jpn = df_original.loc[0,0]

In [6]:
stat_name_eng = df_original.loc[1,0]

In [7]:
stat_name_jpn, stat_name_eng

('１－１０\u3000市部・郡部別面積（大正９年～平成２２年）',
 '1-10 Area by All Shi and All Gun (1920--2010)')

In [8]:
# remove columns and rows with too many nulls
df_dropped = df_original.loc[df_original.notnull().sum(axis=1) > 2, df_original.notnull().sum() > 2].reset_index(drop = True)

In [12]:
df_dropped = df_dropped.replace('- ', 0)

In [13]:
df_dropped.iloc[3, 4]

0

In [14]:
df_dropped

,0,1,2,3,4,5,6
0,年次,NaN,全国,市部,NaN,郡部,NaN
1,Year,NaN,Japan,All shi,Population of Densely inhabited districts,All gun,Population of Densely inhabited districts
2,大正 9年,1920.0,381808.04,1375.36,0,380432.69,0
3,14,1925.0,381810.06,2181.5,0,379628.57,0
4,昭和 5年,1930.0,382264.91,2950.65,0,379314.26,0
5,10,1935.0,382545.42,5094.53,0,377450.89,0
6,15,1940.0,382545.42,8852.01,0,373693.41,0
7,20,1945.0,377298.15,14547.89,0,362750.26,0
8,22,1947.0,377298.15,16110.4,0,361187.75,0
9,25,1950.0,377099.08,20031.26,0,356925.64,0
10,30,1955.0,377151.09,67979.67,0,307870.86,0
11,35,1960.0,377151.09,82903.75,3555.7,292801,309.5
12,40,1965.0,377267.18,88573.34,4228.3,287269.04,376.6
13,45,1970.0,377308.69,95382.77,5896.5,280693.52,547.6
14,50,1975.0,377534.99,102409.77,7737.4,273963.17,538
15,55,1980.0,377708.09,102650.59,9276.5,273897.28,738.2
16,60,1985.0,377801.14,103052.06,9796.1,273626.33,774.6
17,平成 2年,1990.0,377737.11,103881.69,10800.6,272522.04,931.6
18,7,1995.0,377829.41,105092.02,11339.9,271458.48,920.6
19,12,2000.0,377873.06,105999.49,11573.12,270781.66,884.25
20,17,2005.0,377914.78,181792.37,11882.96,195025.66,677.63
21,22,2010.0,377950.1,216209.27,12218.62,161654.94,525.78

In [16]:
columns_original_jpn = df_dropped.iloc[0,:]
columns_original_jpn

0     年次
1    NaN
2     全国
3     市部
4    NaN
5     郡部
6    NaN
Name: 0, dtype: object

In [17]:
columns_original_eng = df_dropped.iloc[1,:]
columns_original_eng

0                                          Year
1                                           NaN
2                                         Japan
3                                       All shi
4    Population of Densely inhabited districts
5                                       All gun
6     Population of Densely inhabited districts
Name: 1, dtype: object

In [18]:
columns = ['year_jpn', 'year_wst', 'area_tot', 'area_urban', 'pop_urban_dense','area_rural', 'pop_rural_dense']

In [19]:
df_dropped.columns = columns

In [22]:
df_dropped = df_dropped.iloc[2:,]

In [23]:
df_dropped

,year_jpn,year_wst,area_tot,area_urban,pop_urban_dense,area_rural,pop_rural_dense
2,大正 9年,1920.0,381808.04,1375.36,0,380432.69,0
3,14,1925.0,381810.06,2181.5,0,379628.57,0
4,昭和 5年,1930.0,382264.91,2950.65,0,379314.26,0
5,10,1935.0,382545.42,5094.53,0,377450.89,0
6,15,1940.0,382545.42,8852.01,0,373693.41,0
7,20,1945.0,377298.15,14547.89,0,362750.26,0
8,22,1947.0,377298.15,16110.4,0,361187.75,0
9,25,1950.0,377099.08,20031.26,0,356925.64,0
10,30,1955.0,377151.09,67979.67,0,307870.86,0
11,35,1960.0,377151.09,82903.75,3555.7,292801,309.5
12,40,1965.0,377267.18,88573.34,4228.3,287269.04,376.6
13,45,1970.0,377308.69,95382.77,5896.5,280693.52,547.6
14,50,1975.0,377534.99,102409.77,7737.4,273963.17,538
15,55,1980.0,377708.09,102650.59,9276.5,273897.28,738.2
16,60,1985.0,377801.14,103052.06,9796.1,273626.33,774.6
17,平成 2年,1990.0,377737.11,103881.69,10800.6,272522.04,931.6
18,7,1995.0,377829.41,105092.02,11339.9,271458.48,920.6
19,12,2000.0,377873.06,105999.49,11573.12,270781.66,884.25
20,17,2005.0,377914.78,181792.37,11882.96,195025.66,677.63
21,22,2010.0,377950.1,216209.27,12218.62,161654.94,525.78

In [16]:
# Number of rows of data for each prefecture
rows_data = 23

In [17]:
data_row_init = 4

In [18]:
df_dropped.iloc[4, 0]

'明治31年'

In [19]:
df_dropped.iloc[4:4+rows_data, 0]

4     明治31年
5       36
6       41
7     大正 2年
8        7
9        9
10      14
11    昭和 5年
12      10
13      15
14      22
15      25
16      30
17      35
18      40
19      45
20      50
21      55
22      60
23    平成 2年
24       7
25      12
26      17
Name: year_jpn, dtype: object

In [20]:
# Number of rows between labels in each prefecture
rows_label = 24

In [21]:
# Create a dictionary of prefectures and indices
pref_labels = {}
num_of_prefs = 48
pref_row_init = 9
for i in range(num_of_prefs):
    pref_name = df_original.iloc[pref_row_init + i * rows_label, 0].strip()
    pref_row  = data_row_init + i * rows_data
    pref_labels[pref_name] = pref_row

In [22]:
pref_labels

{'全国': 4,
 '北海道': 27,
 '青森県': 50,
 '岩手県': 73,
 '宮城県': 96,
 '秋田県': 119,
 '山形県': 142,
 '福島県': 165,
 '茨城県': 188,
 '栃木県': 211,
 '群馬県': 234,
 '埼玉県': 257,
 '千葉県': 280,
 '東京都': 303,
 '神奈川県': 326,
 '新潟県': 349,
 '富山県': 372,
 '石川県': 395,
 '福井県': 418,
 '山梨県': 441,
 '長野県': 464,
 '岐阜県': 487,
 '静岡県': 510,
 '愛知県': 533,
 '三重県': 556,
 '滋賀県': 579,
 '京都府': 602,
 '大阪府': 625,
 '兵庫県': 648,
 '奈良県': 671,
 '和歌山県': 694,
 '鳥取県': 717,
 '島根県': 740,
 '岡山県': 763,
 '広島県': 786,
 '山口県': 809,
 '徳島県': 832,
 '香川県': 855,
 '愛媛県': 878,
 '高知県': 901,
 '福岡県': 924,
 '佐賀県': 947,
 '長崎県': 970,
 '熊本県': 993,
 '大分県': 1016,
 '宮崎県': 1039,
 '鹿児島県': 1062,
 '沖縄県': 1085}

In [1]:
def save_csv(pref_name, csv_pref_name):
    pref_id = pref_labels[pref_name]
    df_temp = df_dropped.iloc[pref_id: pref_id + rows_data]
    csv_title = '../../Data/Downloaded/urban_rural_area_' + csv_pref_name + '.csv'
    df_temp.to_csv(csv_title, index = False)

In [24]:
save_csv('全国', 'total')

In [25]:
save_csv('東京都', 'tokyo')
save_csv('神奈川県', 'kanagawa')
save_csv('埼玉県', 'saitama')
save_csv('千葉県', 'chiba')
save_csv('愛知県', 'nagoya')
save_csv('京都府', 'kyoto')
save_csv('大阪府', 'osaka')
save_csv('兵庫県', 'hyogo')

In [24]:
df_dropped.to_csv( '../../Data/Downloaded/urban_rural_area.csv', index = False)